div{text-align: center;}
label{text-align: left;}

.gradient-custom {
  /* fallback for old browsers */
  background: #e0e0e9;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2196f3(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2196f3(20, 6, 34), rgba(37, 117, 252, 1))
  }
